
.register_text {
   font-size: 0.9rem;
}


.separator {
   position: absolute;
   top: -0.9rem;
   left: 50%;
   font-size: 1.3rem;
   color: var(--main-color);
   font-weight: bold;
   transform: translateX(-50%);
   background-color: white;
   padding: 0px 0.6rem;
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
   -webkit-transform: translateX(-50%);
   -moz-transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   -o-transform: translateX(-50%);
}



.btnLoginGoogle {
   width: 100%;
   background-color: white;
   border: 0.5px solid var(--main-color);
} 

